<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:fragment="headerfiles">
    <meta charset="UTF-8"/>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <title>Trainer Manager</title>
</head>
<body>
<div th:fragment="header">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white">
    <a class="nav-link" href="http://localhost:8080/">Trainer Manager</a>
    <a class="nav-link" href="http://localhost:8080/new">Create New Trainer</a>


</nav>
</div>
</body>
</html>